body{
    background-color: rgb(224, 89, 89);
}
h1 {
    text-transform:uppercase;
    font-size: 60px;
    color: rgb(205, 201, 201);
}
.poster{
    width: 30;
   margin: 10% 0 0 5%;
    text-align: center;
    background-color:25px;
    border: solid color(srgb rgb) ;
}